<nav class="navbar">
  <ol id="navbar">
    <li id="home" (click)="active(0)">
      <a> Home</a>
    </li>

    <li id="aboute" (click)="active(1)">
      <a> Aboute me</a>
    </li>

    <li id="projects" (click)="active(2)">
      <a> Projects</a>
    </li>

    <li id="education" (click)="active(3)">
      <a> Education</a>
    </li>

    <li id="skills" (click)="active(4)">
      <a> Skills</a>
    </li>

    <li id="contact" (click)="active(5)">
      <a> Contact</a>
    </li>

    <li id="blog" (click)="active(6)">
      <a> Blog</a>
    </li>
    
    <div class="tag-active"></div>
  </ol>
</nav>